<p *ngIf="selected" class="text" (click)="showSelector()">{{ row.tax_rate.name }} ({{ row.tax_rate.value }}%)</p>
<p *ngIf="!selected" class="text" (click)="showSelector()">Select an item</p>

<div class="item-selector-wrapper" [hidden]="hideRateSelector">
    <button class="btn btn-block btn-sm btn-link" (click)="hideSelector()">Close</button>
        
    <div class="loading" *ngIf="fetching">
        <span class="spinner">Loading...</span>
    </div>
    
    <ul class="list-unstyled item-list">
        <li class="item" *ngFor="let item of rates" [ngClass]="{'selected': isSelected(item.id) }" (click)="selectItem(item)">
            {{ item.name }} ({{ item.value }}%)
        </li>
    </ul>
</div>