<div class="alert alert-warning" *ngIf="showInvoiceSettingsAlert">
  <div class="alert-items">
    <div class="alert-item static">
        <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
        </div>
        <span class="alert-text">
          No default bank account is set for invoice payment. Please set one in order to recieve payments online.
        </span>
        <div class="alert-actions">
            <a [routerLink]="['/settings/invoices']" class="alert-action">Invoice settings</a>
        </div>
    </div>
  </div>
</div>

<div class="alert alert-warning" *ngIf="showValidationErrors">
  <div class="alert-items">
    <div class="alert-item static" *ngFor="let error of validationErrors">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
        </div>
        <span class="alert-text">
            {{ error.message }}
        </span>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header editor-header">
    <div class="editor-toolbar">
      <div class="row">
        <div class="col-md-3">
          <app-contact-select (onContactSelected)="onContactSelect($event)" [selected]="model.contact" [type]="contactType"></app-contact-select>
        </div>
        <div class="col-md-2">
          <my-date-picker name="raised_at" [options]="datePickerOptions" placeholder="Date" [selDate]="raisedAtDate" (dateChanged)="onRaisedAtDateChanged($event)"></my-date-picker>
        </div>
        <div class="col-md-2">
          <my-date-picker name="due_at" [options]="datePickerOptions" placeholder="Due Date" [selDate]="dueAtDate" (dateChanged)="onDueAtDateChanged($event)"></my-date-picker>
        </div>
        <div class="col-md-5">
          <span style="font-size: .8em;">Amounts are: </span>
          <app-line-amount-type-select [selected]="model.line_amount_type" (onTypeSelect)="onLineAmountTypeSelected($event)"></app-line-amount-type-select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="form-block">
        <div class="form-group">
          <label for="">Invoice No</label>
          <input type="text" name="invoice_no" [(ngModel)]="model.invoice_no" placeholder="INV-0031">
        </div>

        <div class="form-group">
          <label for="">Reference</label>
          <input type="text" name="reference" [(ngModel)]="model.reference">
        </div>
      </div>

      <app-invoice-item-table [type]="type" [items]="model.items.data || model.items" (lineItemChanged)="onItemChanged($event)" (lineItemRemoved)="onItemRemoved($event)">
      </app-invoice-item-table>

      <div class="row flex-items-md-between">
          <div class="col-md-4">
            <div class="line-controls">
              <clr-dropdown>
                  <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                      Add lines
                      <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                      <button type="button" clrDropdownItem (click)="addLineItems(1)">Add 1</button>
                      <button type="button" clrDropdownItem (click)="addLineItems(10)">Add 5</button>
                      <button type="button" clrDropdownItem (click)="addLineItems(10)">Add 10</button>
                  </clr-dropdown-menu>
              </clr-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="invoice-totals">
              <div class="clearfix">
                <label for="">Subtotal</label>
                <span class="currency-ngn">{{ model.sub_total | number:'1.2-2' }}</span>
              </div>
              <div class="clearfix">
                <label for="">Tax</label>
                <span class="currency-ngn">{{ model.tax_total | number:'1.2-2' }}</span>
              </div>
              <div class="clearfix total">
                <label for=""><strong>Total</strong></label>
                <span class="currency-ngn"><strong>{{ model.total | number:'1.2-2' }}</strong></span>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row flex-items-md-between">
      <div class="col-lg-6" style="padding: 25px;">
        <div class="form-group">
          <textarea name="notes" [(ngModel)]="model.notes" placeholder="Notes" rows="5"></textarea>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <clr-dropdown *ngIf="!editing">
      <button type="button" class="btn btn-primary" clrDropdownTrigger [clrLoading]="saving" [disabled]="saving || disableBtn">
          Save
          <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
          <button type="button" clrDropdownItem canSee (click)="save('draft')" canSee [allowed]="'adviser,invoices'">Save as draft</button>
          <button type="button" clrDropdownItem (click)="save('submitted')" canSee [allowed]="'adviser,invoices'">Save &amp; submit for approval</button>
      </clr-dropdown-menu>
    </clr-dropdown>

    <button *ngIf="!editing" type="button" class="btn btn-success" (click)="save('authorized')"
     [clrLoading]="saving" [disabled]="saving || disableBtn"
     canSee [allowed]="'adviser'">
     Save and Authorize</button>

    <button *ngIf="editing" type="button" class="btn btn-success" [clrLoading]="saving" [disabled]="saving || disableBtn" (click)="save(model.status)">Update</button>
    <button type="button" class="btn btn-outline-primary">Cancel</button>
  </div>
</div>