<div class="login-wrapper">
    <form class="login" novalidate #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="logo">
            <img src="assets/img/logo-blue.png" alt="ZenBooks">
        </div>
        
        <label class="title">
            <h3 class="welcome">Forgot your password?</h3>
            <h5 class="hint">To reset your password, enter the email address you use to login to Bridge Book.</h5>
        </label>
        <div class="alert alert-success" *ngIf="showSuccess">
            <div class="alert-item">
                <span class="alert-text" style="padding: 10px;">
                    Your password reset link has been emailed to you.
                </span>
            </div>
        </div>
        <div class="login-group">
            <input class="username" type="email" id="email" name="email" 
            placeholder="Email Address" [(ngModel)]="model.email" #email="ngModel" required>

            <button type="submit" class="btn btn-primary" [disabled]="resetForm.form.invalid || btnDisabled">{{ btnStatus }}</button>
            <a routerLink="/login" class="signup">Login</a>
        </div>
    </form>
</div>