<div class="login-wrapper account-wrapper">
    <form class="login" novalidate #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="logo">
            <img src="assets/img/logo-blue.png" alt="ZenBooks">
        </div>
        
        <label class="title">
            <h3 class="welcome">Create a new password</h3>
            <h5 class="hint">Enter a new password for your ZenBooks account.</h5>
        </label>
        <div class="alert alert-success" *ngIf="showSuccess">
            <div class="alert-item">
                <span class="alert-text" style="padding: 10px;">
                    {{ successMessage }}
                </span>
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="showError">
            <div class="alert-item">
                <span class="alert-text" style="padding: 10px;">
                    {{ errorMessage }}
                </span>
            </div>
        </div>

        <div class="login-group">
            <input class="username" type="password" id="password" name="password" 
            placeholder="Enter password" [(ngModel)]="model.password" minlength="6" #password="ngModel" required>
            <div class="input__errors" [hidden]="password.valid || password.pristine">
                <span class="input__errors_error" *ngIf="password.hasError('required')">Please enter a password</span>
                <span class="input__errors_error" *ngIf="password.hasError('minlength')">Password must have at least 6 characters</span>
            </div>

            <input class="username" type="password" id="confirm" name="confirm" 
            placeholder="Confirm password" [(ngModel)]="model.confirm" match="password" #confirm="ngModel" required>
            <div class="input__errors" [hidden]="confirm.valid || confirm.pristine">
                <span class="input__errors_error" *ngIf="confirm.hasError('required')">Please confirm your password</span>
                <span class="input__errors_error" *ngIf="confirm.hasError('match')">Please enter the same password as above</span>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="resetForm.form.invalid || btnDisabled">{{ btnStatus }}</button>
            <a routerLink="/login" class="signup">Login</a>
        </div>
    </form>
</div>