<section>
  <div class="row flex-items-lg-between page-header">
      <div class="col-lg-4">
          <h2>Pay Rolls</h2>
      </div>
      <div class="col-lg-4">
          <a class="btn btn-primary" (click)="payrunModal.open()" style="margin-top: 10px;">New Pay Roll</a>
      </div>
  </div>

  <div class="row">
        <div class="col-lg-12 col-md-12">
            <nav class="subnav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/payroll/runs']" [routerLinkActive]="'active'"
                        [queryParams]="{status: 'all'}">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/payroll/runs']" [queryParams]="{status: 'draft'}" 
                        [routerLinkActive]="'active'">Draft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/payroll/runs']" [queryParams]="{status: 'approved'}" 
                        [routerLinkActive]="'active'">Approved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/payroll/runs']" [queryParams]="{status: 'paid'}" 
                        [routerLinkActive]="'active'">Paid</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

  <div class="row">
      <div class="col-lg-12 col-md-12">
          <app-payrun-list [org_id]="org.id"></app-payrun-list>   
      </div>
  </div>

  <clr-modal #payrunModal [clrModalSize]="'md'" [clrModalStaticBackdrop]="true">
        <h3 class="modal-title">New Pay Run</h3>
        <div class="modal-body">
            <payrun-form #form></payrun-form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="payrunModal.close()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="periodForm.form.invalid" 
            (click)="submit()" [clrLoading]="processing">Next</button>
        </div>
  </clr-modal>
</section>