.bar 
{
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;

    .bar-label {
        min-width: 120px;
        order: 1;
        -webkit-order: 1;
        position: relative;
        top: -10px;
        padding-right: 10px;

        .label-value {
            height: 19px;
            font-size: .9em;
            font-weight: 600;
        }

        .label-title {
            text-transform: uppercase;
            color: #8d9096;
            font-size: 12px;
            height: 16px;
            display: inline-block;
        }
    }

    .bar-image 
    {
        order: 1;
        -webkit-order: 1;
        height: inherit;
        width: 100%;
        transition: width 0.5s linear;
        -webkit-transition: width 0.5s linear;
        -moz-transition: width 0.5s linear;

        .bar-display
        {
            background-color: #CCC;
            width: 100%;
            transition: width 0.25ms linear;
            -webkit-transition: width 0.5s linear;
            -moz-transition: width 0.5s linear;
            height: inherit;
            display: inline-block;
            position: relative;
            top: -5px;
        }
    }
}