<div class="spinner-container" *ngIf="loading">
  <span class="spinner">
      Loading...
    </span>
</div>

<section class="invoice-detail" *ngIf="!loading">
  <div class="row flex-items-lg-between page-header">
    <div class="col-md-4">
        <a routerLink="/sales/invoices" [queryParams]="{status: 'all'}"><clr-icon shape="caret" dir="left"></clr-icon> Invoices</a>
        <h2>Invoice {{ invoice.invoice_no }}</h2>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="card invoice-detail-card">
      <div class="card-header">
          <div class="row flex-items-lg-between">
            <div class="col-lg-3 col-md-5">
              <button class="btn btn-sm btn-link">{{ invoice.status }}</button>
            </div>
            <div class="col-lg-6 col-md-5 invoice-actions" style="text-align: right;">
              <invoice-edit-button [invoice]="invoice"></invoice-edit-button>  
              <invoice-email-button [invoice]="invoice"></invoice-email-button>
              <invoice-print-button [invoice]="invoice"></invoice-print-button>
              <invoice-status-button [hidden]="invoice.status === 'Paid'" [invoice]="invoice" (statusChanged)="onStatusChanged($event)"></invoice-status-button>
            </div>
          </div>
      </div>

      <div class="card-block">
        <div class="invoice-header">
          <div class="row flex-items-lg-between">
            <div class="col-md-4">
                <h4 style="margin: 0;">To</h4>
                <a [routerLink]="['/contacts/view', invoice.contact.data.id]">{{ invoice.contact.data.name }}</a>
                <address>
                  {{ invoice.contact.data.address_line_1 }}<br>
                  {{ invoice.contact.data.address_line_2 }}<br>
                  {{ invoice.contact.data.city_town }}<br>
                  {{ invoice.contact.data.postal_zip }}<br>
                  {{ invoice.contact.data.state_region }}<br>
                  {{ invoice.contact.data.country }}<br>
                </address>
            </div>
            <div class="col-md-4 invoice-meta">
              <p><strong>Date:</strong> {{ invoice.raised_at | amDateFormat:'D MMM YYYY' }}</p>
              <p><strong>Due Date:</strong> {{ invoice.due_at | amDateFormat:'D MMM YYYY' }}</p>
              <p><strong>Invoice #:</strong> {{ invoice.invoice_no }}</p>
              <p><strong>Reference:</strong> {{ invoice.reference }}</p>
              <p><strong>Total:</strong> {{ invoice.total | number:'1.2-2' }}</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="invoice-items">
          <p *ngIf="invoice.line_amount_type == 'exclusive'">Amounts are <strong>Tax Exclusive</strong></p>
          <p *ngIf="invoice.line_amount_type == 'inclusive'">Amounts are <strong>Tax Inclusive</strong></p>
          <table class="table">
            <thead>
              <tr>
                 <th class="left" *ngFor="let col of lineItemColumns">{{ col.label }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of invoice.items.data">
                <td class="line-item-cell">{{ item.item.code }}</td>
                <td class="line-item-cell">{{ item.description }}</td>
                <td class="line-item-cell">{{ item.quantity }}</td>
                <td class="line-item-cell">{{ item.unit_price | number:'1.2-2' }}</td>
                <td class="line-item-cell">{{ item.discount_rate | number:'1.2-2' }}</td>
                <td class="line-item-cell">{{ item.account.name }}</td>
                <td class="line-item-cell">{{ item.tax_rate.name }}</td>
                <td class="line-item-cell">{{ item.amount | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>

          <div class="row flex-items-md-between">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="invoice-totals">
                  <div class="clearfix">
                    <label for="">Subtotal</label>
                    <span>{{ invoice.sub_total | number:'1.2-2' }}</span>
                  </div>
                  <div class="clearfix">
                    <label for="">Tax</label>
                    <span>{{ invoice.tax_total | number:'1.2-2' }}</span>
                  </div>
                  <div class="clearfix total">
                    <label for=""><strong>Total</strong></label>
                    <span><strong>{{ invoice.total | number:'1.2-2' }}</strong></span>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>