<div class="card">
  <div class="card-header editor-header">
    <div class="editor-toolbar">
      <div class="row">
        <div class="col-md-3">
          <app-contact-select (onContactSelected)="onContactSelect($event)"></app-contact-select>
        </div>
        <div class="col-md-2">
          <my-date-picker name="due_date" [options]="datePickerOptions" placeholder="Date" [selDate]="raisedAtDate" (dateChanged)="onRaisedAtDateChanged($event)"></my-date-picker>
        </div>
        <div class="col-md-2">
          <my-date-picker name="due_date" [options]="datePickerOptions" placeholder="Due Date" [(ngModel)]="model.due_at"></my-date-picker>
        </div>
        <div class="col-md-5">
          <span style="font-size: .8em;">Amounts are: </span>
          <app-line-amount-type-select (onTypeSelect)="onLineAmountTypeSelected($event)"></app-line-amount-type-select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="form-block">
        <div class="form-group">
          <label for="">Invoice No</label>
          <input type="text" name="invoice_no" [(ngModel)]="model.invoice_no" placeholder="INV-0031">
        </div>

        <div class="form-group">
          <label for="">Reference</label>
          <input type="text" name="reference" [(ngModel)]="model.reference">
        </div>
      </div>

      <app-invoice-item-table [type]="type" [items]="model.items" (lineItemChanged)="onItemChanged($event)"></app-invoice-item-table>

      <div class="row flex-items-md-between">
          <div class="col-md-4">
            <div class="line-controls">
              <clr-dropdown>
                  <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                      Add lines
                      <clr-icon shape="caret down"></clr-icon>
                  </button>
                  <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                      <button type="button" clrDropdownItem (click)="addLineItems(1)">Add 1</button>
                      <button type="button" clrDropdownItem (click)="addLineItems(10)">Add 5</button>
                      <button type="button" clrDropdownItem (click)="addLineItems(10)">Add 10</button>
                  </clr-dropdown-menu>
              </clr-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="invoice-totals">
              <div class="clearfix">
                <label for="">Subtotal</label>
                <span>{{ subtotal | number:'1.2-2' }}</span>
              </div>
              <div class="clearfix">
                <label for="">Tax</label>
                <span>{{ tax | number:'1.2-2' }}</span>
              </div>
              <div class="clearfix total">
                <label for=""><strong>Total</strong></label>
                <span><strong>{{ total | number:'1.2-2' }}</strong></span>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-outline-primary">Cancel</button>
  </div>
</div>