<div class="card">
  <div class="card-header editor-header">
    <div class="editor-toolbar">
      <div class="row">
        <div class="col-md-3">
          <app-contact-select (onContactSelected)="onContactSelect($event)"></app-contact-select>
        </div>
        <div class="col-md-2">
          <my-date-picker name="due_date" [options]="datePickerOptions" placeholder="Date" [selDate]="raisedAtDate" (dateChanged)="onRaisedAtDateChanged($event)"></my-date-picker>
        </div>
        <div class="col-md-2">
          <my-date-picker name="due_date" [options]="datePickerOptions" placeholder="Due Date" [(ngModel)]="model.due_at"></my-date-picker>
        </div>
        <div class="col-md-5">
          <span style="font-size: .8em;">Amounts are: </span>
          <app-line-amount-type-select (onTypeSelect)="onLineAmountTypeSelected($event)"></app-line-amount-type-select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      <div class="form-block">
        <div class="form-group">
          <label for="">Invoice No</label>
          <input type="text" name="invoice_no">
        </div>

        <div class="form-group">
            <label for="">Reference</label>
            <input type="text" name="reference">
          </div>
      </div>

      <div class="line-items">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let col of lineItemsTableColumns">{{ col.label }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

  </div>
  <div class="card-footer"></div>
</div>