<section class="invoice-creator">
  <a routerLink="/sales/invoices"><clr-icon shape="caret" dir="left"></clr-icon> Invoices</a>
  <h2 *ngIf="!editing">New Invoice</h2>
  <h2 *ngIf="editing && !loading">Edit Invoice {{ model.invoice_no }}</h2>

  <div class="spinner-container" *ngIf="loading">
    <span class="spinner">
        Loading...
      </span>
  </div>
  
  <app-invoice-editor *ngIf="!loading" [type]="'acc_rec'" [editing]="editing" [org]="org" [model]="model" [saving]="saving" (onSaveInvoice)="saveInvoice($event)"></app-invoice-editor>
</section>