<div class="validate-wrapper">
    <div class="row flex-items-xs-center flex-xs-middle">
        <div class="col-lg-4 col-md-5 col-xs-12">
            <div class="logo">
                <img src="assets/img/logo-blue.png" alt="ZenBooks">
            </div>

            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Activate your account
                    </div>
                    <p>Create a password for your Bridge Books account. Your password should have at least 6 characters</p>
                    <form #validateForm="ngForm" novalidate class="block__form" (ngSubmit)="onSubmit()">
                        <div class="block__form_group">
                            <input type="password" name="password" [class.invalid]="passwordInput.invalid && !passwordInput.pristine" 
                            #passwordInput="ngModel" [(ngModel)]="model.password" placeholder="Enter a password" required minlength="6">
                            <div class="input__errors" [hidden]="passwordInput.valid || passwordInput.pristine">
                                <span class="input__errors_error" *ngIf="passwordInput.hasError('required')">Password is required</span>
                                <span class="input__errors_error" *ngIf="passwordInput.hasError('minlength')">Password must have at least 6 characters</span>
                            </div>
                        </div>
                        <div class="block__form_group">
                            <button class="btn btn-primary btn-block" [clrLoading]="processing" 
                            [disabled]="validateForm.form.invalid || btnDisabled" type="submit">{{btnStatus}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>