<div class="login-wrapper account-wrapper" id="login-page">
    <form class="login" autocomplete="off" novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="logo">
            <img src="assets/img/logo-blue.png" alt="ZenBooks">
        </div>

        <label class="title">
            <h3 class="welcome">Login</h3>
            <h5 class="hint">Sign in into your Bridge Books account</h5>
        </label>

        <div class="login-group">

            <input class="username" type="email" id="email" name="email" placeholder="Email Address" 
            [(ngModel)]="model.email" #email="ngModel" required>

            <input class="password" type="password" id="password" name="password" placeholder="Password" 
            [(ngModel)]="model.password" #password="ngModel" required>

            <div class="error active" *ngIf="showError">
                {{ errorMessage }}
            </div>
 
            <button type="submit" class="btn btn-primary" [clrLoading]="processing" [disabled]="loginForm.form.invalid || loginBtnDisabled">{{loginBtnStatus}}</button>
            <a routerLink="/password/reset" class="signup">Forgot your password?</a>
            <a class="btn btn-primary-outline" routerLink="/signup" class="signup">Sign up for an account</a>
        </div>
    </form>
</div>