<clr-main-container>
    <header class="header header-6">
        <div class="branding">
            <a href="..." class="brand nav-link">
                <img src="assets/img/logo-white.png" alt="Bridebooks">
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="onboarding-container">
                <div class="onboarding-container-bg">
                    <img src="assets/img/onboarding2.svg" alt="">
                </div>
                <div class="onboarding-textbox">
                    <h3>Welcome to Bridgebooks</h3>
                    <p>Let's get you setup for success</p>
                    <button class="btn btn-primary" (click)="openWizard = true;">Get Started</button>
                </div>
            </div>
        </div>
    </div>

    <clr-wizard #wizard [(clrWizardOpen)]="openWizard" [clrWizardClosable]="wizardCloseable">
        <clr-wizard-title>Setup</clr-wizard-title>

        <clr-wizard-button [type]="'previous'">Default</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'">Default</clr-wizard-button>

        <!-- <clr-wizard-page [clrWizardPageNextDisabled]="orgform.form.invalid" (clrWizardPageCustomButton)="doCustomClick($event)">
            <ng-template clrPageTitle>Let's get some basics setup</ng-template>
            <ng-template clrPageNavTitle>Welcome</ng-template>

            <app-org-basic #orgform></app-org-basic>

            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'create-org'">Next</clr-wizard-button>
            </ng-template>
        </clr-wizard-page> -->

        <clr-wizard-page>
            <ng-template clrPageTitle>Lets add a bank account</ng-template>
            <ng-template clrPageNavTitle>Banking</ng-template>

            <app-banking></app-banking>

            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'create-bank-account'">Next</clr-wizard-button>
            </ng-template>
        </clr-wizard-page>
    </clr-wizard>
</clr-main-container>