<div class="card">
  <div class="card-header">
    <h3>Password</h3>
    <p *ngIf="editing === false">You can change your password if you think your account has been compromised.</p>
  </div>
  <div class="card-block" *ngIf="editing">
    <div class="card-text">
      <form autocomplete="off" novalidate #passwordChangeForm="ngForm" (ngSubmit)="onSubmit()">
        <section class="form-block">
          <div class="form-group">
            <label for="">Current Password</label>
            <input type="password" name="current" placeholder="Your current password" [(ngModel)]="model.current" required>
          </div>
          <div class="form-group">
            <label for="">New Password</label>
            <input type="password" name="password" placeholder="Your new password" [(ngModel)]="model.password" required minlength="6">
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" name="confirm" placeholder="Enter password again" [(ngModel)]="model.confirm" required minlength="6">
          </div>
        </section>
        <button type="submit" class="btn btn-primary" [disabled]="passwordChangeForm.invalid || btnDisabled" [clrLoading]="processing">{{ btnText }}</button>
      </form>
    </div>
  </div>
  <div class="card-footer">
      <button class="btn btn-sm btn-link" (click)="toggleEditing()">{{ actionBtnText }}</button>
  </div>
</div>