<clr-main-container>
    <header class="header header-6">
        <div class="branding">
            <a routerLink="/dashboard" class="brand nav-link">
                <img src="assets/img/logo-white.png" alt="DigIT">
            </a>
        </div>
        
        <div class="header-nav">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link nav-text">Dashboard</a>
            <a routerLink="/sales" routerLinkActive="active" class="nav-link nav-text">Sales</a>
            <a routerLink="/purchases" routerLinkActive="active" class="nav-link nav-text">Purchases</a>
            <a routerLink="/contacts" routerLinkActive="active" class="nav-link nav-text">Contacts</a>
            <a href="" class="nav-link nav-text">Reports</a>
        </div>

        <div class="header-actions">
            <clr-dropdown [clrMenuPosition]="'bottom-right'" [clrCloseMenuOnItemClick]="false">
                <button type="button" clrDropdownToggle>
                    <clr-icon shape="cog"></clr-icon>
                </button>
                <clr-dropdown-menu>
                    <button type="button" clrDropdownItem>Profile</button>
                    <button type="button" clrDropdownItem>Account</button>
                    <button type="button" clrDropdownItem>Logout</button>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav" *ngIf="showSideNav">
            <app-sidenav [menu]="sidenavMenu"></app-sidenav>
        </nav>
    </div>
</clr-main-container>