<div class="payslip-editor" [ngClass]="{'open': open, 'close': !open }">
  <div class="editor-header" *ngIf="slip">
    <div class="row flex-items-lg-between">
      <a class="editor-close" (click)="open = false"><clr-icon shape="times"></clr-icon></a>
      <div class="col-lg-4 col-md-4">
        <p class="employee-name">
            <clr-icon shape="user" class="is-solid"></clr-icon>           
            {{ slip.employee.data.first_name }} {{ slip.employee.data.last_name }}
        </p>
      </div>
      <div class="col-lg-5 col-md-5">
        <div class="slip-totals">
          <div class="net-total total">
            <p>NGN {{ net_total | number:"1.2-2" }}</p>
            <span>Net Pay</span>
          </div>

          <div class="gross-total total">
              <p>NGN {{ gross_total | number:"1.2-2" }}</p>
              <span>Total Cost</span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="editor-body" *ngIf="slip">
    <div class="spinner-container" *ngIf="loading">
      <span class="spinner">
          Loading...
        </span>
    </div>

    <div class="row" style="margin: 0;">
      <div class="col-lg-8 col-md-8">
        <table class="table item-table" *ngIf="!loading">
          <thead>
            <tr>
              <th class="left col-item">Item</th>
              <th class="left col-amount">Amount</th>
              <th class="col-action"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of slip.items.data" [hidden]="canShowItem(item)">
              <td class="left col-item">
                <payitem-input [item]="item" (itemSelected)="onPayItemSelected($event, item)" 
                (itemCreated)="onPayslipItemCreated($event, item)"></payitem-input> 
              </td>
              <td class="left col-amount">
                <payitem-amount-input [item]="item" (amountChanged)="onPayItemAmountChanged($event, item)"></payitem-amount-input>              
              </td>
              <td class="col-action">
                <a class="item-remove" role="tooltip" aria-haspopup="true" 
                class="tooltip tooltip-md tooltip-top-left" (click)="removeLine(item)">
                  <clr-icon shape="times"></clr-icon>
                  <span class="tooltip-content">Remove item</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <div style="padding: 15px;">
            <button class="btn btn-outline-primary" (click)="addLine()" *ngIf="!loading">Add Line</button>        
        </div>
      </div>

      <div class="col-lg-4 col-md-4 pay-calculator" *ngIf="!loading">
        <h3 class="calculator-header">Pay Calculation</h3>
        <hr>
        <dl class="clearfix">
          <dt>Wages</dt>
          <dd>{{ wages | number:'1.2-2' }}</dd>

          <dt>
            <em>plus</em>
            Allowances
          </dt>
          <dd>{{ allowances | number:'1.2-2' }}</dd>
          
          <dt>
            <em>less</em>
            Deductions
          </dt>
          <dd>{{ deductions | number:'1.2-2' }}</dd>

          <dt class="border-top">Tax</dt>
          <dd class="border-top">{{ tax.tax | number:'1.2-2'}}</dd>
          <dt>Taxable Income</dt>
          <dd>{{ tax.taxable | number:'1.2-2' }}</dd>
          <dt>Tax Rate</dt>
          <dd>{{ tax.taxrate | number:'1.2-2' }}%</dd>

          <dt class="border-top bold">Net Pay</dt>
          <dd class="border-top bold">{{ net_total | number:'1.2-2' }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>