<button class="btn btn-primary" (click)="modalVisible = true">Add Account</button>

<clr-modal [(clrModalOpen)]="modalVisible" [clrModalSize]="'md'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Add New Account</h3>
    <div class="modal-body">
      <form #accountForm="ngForm">
        <section class="form-block">
          <div class="form-group">
              <label for="">Account Type</label>
              <div class="select">
                  <select name="account_type_id" id="account_type_id" [(ngModel)]="model.account_type_id">
                      <optgroup *ngFor="let type of types" label="{{ type.name }}">
                          <option *ngFor="let child of type.children" [value]="child.id">{{ child.name }}</option>
                      </optgroup>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label class="required" for="">Name</label>
              <input type="text" name="name" size="60" #nameInput="ngModel" [(ngModel)]="model.name" required [maxlength]="150">
              <span class="help-text">A short name for this account (150 characters)</span>              
              <div class="input__errors" [hidden]="nameInput.valid || nameInput.pristine">
                  <span class="input__errors_error" *ngIf="nameInput.hasError('required')">Please enter an account name</span>
                  <span class="input__errors_error" *ngIf="nameInput.hasError('maxlength')">Enter a shorter name</span>
              </div>
          </div>
  
          <div class="form-group">
              <label class="required" for="">Code</label>
              <input type="text" name="code" size="60" #codeInput="ngModel" [(ngModel)]="model.code" required [maxlength]="10">
              <span class="help-text">A unique code/number for this account (10 characters)</span>
              <div class="input__errors" [hidden]="codeInput.valid || codeInput.pristine">
                  <span class="input__errors_error" *ngIf="codeInput.hasError('required')">Please enter an account code</span>
                  <span class="input__errors_error" *ngIf="codeInput.hasError('maxlength')">Enter a shorter code for the account</span>
              </div>
          </div>

          <div class="form-group">
            <label for="description">Description (optional)</label>
            <textarea name="description" id="description" rows="3" [(ngModel)]="model.description"></textarea>
            <span class="help-text">A description of how this account should be used</span>
          </div>

          <div class="form-group">
              <label for="">Tax</label>
              <div class="select">
                  <select name="tax_rate_id" id="tax_rate_id" [(ngModel)]="model.tax_rate_id">
                      <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.name }} ({{ rate.value }}%)</option>
                  </select>
              </div>       
              <span class="help-text">The default tax setting for this account</span>              
          </div>
        </section>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
        [clrLoading]="processing" 
        [disabled]="accountForm.invalid || processing" 
        (click)="save()">Save</button>

        <button type="button" class="btn btn-outline" (click)="modalVisible = false">Cancel</button>
    </div>
  </clr-modal>