<div class="line-item-table">
  <table class="table">
    <thead>
      <tr>
        <th class="left" *ngFor="let col of columns" [style.width.px]="col.width">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="line-item-cell">
          <clr-icon shape="view-list" class="line-item-reorder"></clr-icon>
        </td>
        <td class="line-item-cell">
          <cell-item-select [selected]="item.item_id" [row]="item" (itemSelected)="rowItemSelected($event)"></cell-item-select>
        <td class="line-item-cell">
          <cell-item-description [description]="item.description"></cell-item-description>
        </td>
        <td class="line-item-cell">
          <input class="transparent" type="text" name="quantity" [(ngModel)]="item.quantity" (change)="calculateLineAmount(item)" numeric>
        </td>
        <td class="line-item-cell">
          <input class="transparent" type="text" name="unit_price" [(ngModel)]="item.unit_price" (change)="calculateLineAmount(item)" numeric>
        </td>
        <td class="line-item-cell">
          <input class="transparent" type="number" name="discount" [(ngModel)]="item.discount_rate" (change)="calculateLineAmount(item)">
        </td>
        <td class="line-item-cell">
          <cell-account-select [selected]="item.account_id" [row]="item" (accountSelected)="rowItemSelected($event)"></cell-account-select>
        </td>
        <td class="line-item-cell">
          <cell-taxrate-select [selected]="item.tax_rate_id" [row]="item" (rateSelected)="rowItemSelected($event)"></cell-taxrate-select>
        </td>
        <td class="line-item-cell">{{ item.amount | number:'1.2-2' }}</td>
        <td class="line-item-cell">
            <a (click)="removeItem(item)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-top-left">
                <clr-icon shape="times"></clr-icon>
                <span class="tooltip-content">Remove Item</span>
            </a>          
        </td>
      </tr>
    </tbody>
  </table>
</div>