<div class="card">
    <div class="card-header">
        Calendar
    </div>
    <div class="card-block">
      <ng-template #eventTitleTemplate let-event="event">
        <a class="cal-event-title" href="javascript:;">
          <span style="display: inline-block;">{{ event.title }}</span>
          <span style="display: block;">{{ event.meta.amount | number:"1.2-2" }}</span>
          <span class="label label-danger" *ngIf="event.meta.is_overdue">Overdue</span>
        </a>
      </ng-template>

      <div class="spinner-container" *ngIf="loading">
          <span class="spinner">
              Loading...
            </span>
        </div>
        
      <div *ngIf="!loading">
          <div>
            <div class="row flex-items-lg-between page-header">
                <div class="col-lg-4">
                    <h3 style="margin: 0;">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>                        
                </div>

                <div class="col-lg-4">
                    <div class="btn-group btn-primary">
                        <button class="btn" mwlCalendarPreviousView
                        (viewDateChange)="viewDateChanged($event)"
                        [(viewDate)]="viewDate" [view]="view">Previous</button>
        
                        <button class="btn" mwlCalendarNextView
                        (viewDateChange)="viewDateChanged($event)"
                        [(viewDate)]="viewDate" [view]="view">Next</button>
                    </div>
                </div>
            </div>

            <mwl-calendar-month-view #calendarRef
              [viewDate]="viewDate" [events]="events" 
              [eventTitleTemplate]="eventTitleTemplate"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="eventClicked($event)">
            </mwl-calendar-month-view>
            <!--<mwl-calendar-week-view *ngSwitchCase="'week'" #calendarRef
              [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event)">
            </mwl-calendar-week-view>-->
          </div>
      </div>
    </div>
    <div class="card-footer">
      <!--<button class="btn" (click)="switchView('month')" [ngClass]="{'btn-primary': view == 'month'}">This Month</button>
      <button class="btn" (click)="switchView('week')" [ngClass]="{'btn-primary': view == 'week'}">This Week</button>-->
    </div>
</div>