<clr-main-container>
    <header class="header header-6">
        <div class="branding">
            <a href="..." class="brand nav-link">
                <img src="assets/img/logo-white.png" alt="DigIT">
            </a>
        </div>
        <div class="header-nav">
            <a href="" class="nav-link nav-text">Dashboard</a>
            <a href="" class="nav-link nav-text">Sales</a>
            <a href="" class="nav-link nav-text">Purchases</a>
            <a href="" class="nav-link nav-text">Contacts</a>
            <a href="" class="nav-link nav-text">Reports</a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>