<a class="btn btn-primary" (click)="modalVisible = true">{{ btnText }}</a>

<clr-modal [(clrModalOpen)]="modalVisible" [clrModalSize]="'md'" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ modalTitle }}</h3>
  <div class="modal-body">
    <form #itemForm="ngForm">
      <section class="form-block">
        <div class="form-group">
            <label class="required" for="">Item Code</label>
            <input type="text" name="code" placeholder="GM32" size="60" #codeInput="ngModel" [(ngModel)]="model.code" required>
            <div class="input__errors" [hidden]="codeInput.valid || codeInput.pristine">
                <span class="input__errors_error" *ngIf="codeInput.hasError('required')">Please enter an item code</span>
            </div>
        </div>

        <div class="form-group">
            <label class="required" for="">Item Name</label>
            <input type="text" name="name" size="60" #nameInput="ngModel" [(ngModel)]="model.name" required>
            <div class="input__errors" [hidden]="codeInput.valid || codeInput.pristine">
                <span class="input__errors_error" *ngIf="nameInput.hasError('required')">Please enter an item code</span>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-4 col-md-4 col-sm-12">
              <clr-checkbox
                  name="is_purchased"
                  id="is_purchased"
                  [clrChecked]="model.is_purchased"
                  [(ngModel)]="model.is_purchased">
                  I purchase this item
              </clr-checkbox>
          </div>

          <div class="col-lg-8 col-md-8 col-sm-12" *ngIf="model.is_purchased">
            <input type="number" name="purchase_unit_price" placeholder="Purchase price" size="60" #purchaseUnitPriceInput="ngModel" 
            [(ngModel)]="model.purchase_unit_price">
            
            <account-select [org]="org" 
            [selected]="model.purchase_account_id"
            (onAccountSelected)="purchaseAccountSelected($event)">
            </account-select>
            <input type="hidden" name="purchase_account_id" [(ngModel)]="model.purchase_account_id">            

            <taxrate-select [org]="org"
            [selected]="model.purchase_tax_id"
            (onRateSelected)="purchaseTaxRateSelected($event)">
            </taxrate-select>
            <input type="hidden" name="purchase_tax_id" [(ngModel)]="model.purchase_tax_id">

            <textarea name="purchase_description" placeholder="Description for suppliers" [(ngModel)]="model.purchase_description" rows="3">
            </textarea>
          </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <clr-checkbox
                  name="is_sold"
                  id="is_sold"
                  [clrChecked]="model.is_sold"
                  [(ngModel)]="model.is_sold">
                  I sell this item
              </clr-checkbox>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12" *ngIf="model.is_sold">
                <input type="number" name="sale_unit_price" placeholder="Sale price" size="60" #saleUnitPriceInput="ngModel" 
                [(ngModel)]="model.sale_unit_price">
                
                <account-select [org]="org" 
                [selected]="model.sale_account_id"
                (onAccountSelected)="saleAccountSelected($event)">
                </account-select>
                <input type="hidden" name="sale_account_id" [(ngModel)]="model.sale_account_id">

                <taxrate-select [org]="org"
                [selected]="model.sale_tax_id"
                (onRateSelected)="saleTaxRateSelected($event)">
                </taxrate-select>
                <input type="hidden" name="sale_tax_id" [(ngModel)]="model.sale_tax_id">
    
                <textarea name="sale_description" placeholder="Description for customers" [(ngModel)]="model.sale_description" rows="3">
                </textarea>
              </div>
          </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" 
      [clrLoading]="processing" [disabled]="itemForm.invalid || processing" 
      (click)="save()">Save</button>
      <button type="button" class="btn btn-outline" (click)="modalVisible = false">Cancel</button>
  </div>
</clr-modal>