<clr-header class="header header-6">    
    <div class="header-nav" [clr-nav-level]="2">
        <a routerLink="/settings/profile" routerLinkActive="active" class="nav-link nav-text">Profile</a>
        <a routerLink="/settings/account" routerLinkActive="active" class="nav-link nav-text">Account</a>
        <a (click)="showLogoutModal()" class="nav-link nav-text">Logout</a>
    </div>

    <clr-modal [(clrModalOpen)]="logoutModalVisible" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="true">
        <h3 class="modal-title">Logout</h3>
        <div class="modal-body">
            <p style="color: #333;">Are sure you want to logout</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="hideLogoutModal()">Cancel</button>
            <button type="button" class="btn btn-primary" [clrLoading]="logoutProcessing" [disabled]="logoutBtnDisabled" (click)="logout()">Ok</button>
        </div>
    </clr-modal>
</clr-header>