<clr-modal #modal [clrModalSize]="'md'" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Receive a payment</h3>
  <div class="modal-body">
    <div class="alert alert-info">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  Receive a non-digital payment for this invoice
                </span>
            </div>
        </div>
    </div>

    <form #form="ngForm">
        <div class="form-group">
            <label for="">Date Paid</label>
            <input type="date" name="paid_at" id="paid_at" [(ngModel)]="paid_at" clrDate required>
          </div>
          
       <div class="form-group">
          <label for="">Reference</label>
          <input type="text" name="reference" id="reference" [(ngModel)]="reference" required>
       </div>

        <div class="form-group">
          <label for="">Amount</label>
          <input type="text" name="amount" id="amount" pattern="[0-9]+([\.,][0-9]+)*" [(ngModel)]="amount" [disabled]="'true'">
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [clrLoading]="processing" 
    [disabled]="processing || form.invalid" (click)="submit()">Add Payment</button>
    <button type="button" class="btn btn-outline" (click)="modal.close()">Cancel</button>
  </div>
</clr-modal>