<form #componentForm="ngForm">
  <div class="form-group row">
    <div class="col-md-5">
      <input class="form-control" type="text" name="name" size="45" placeholder="Name" [(ngModel)]="model.name" required>
    </div>
    <div class="col-md-4" *ngIf="showCompound">
      <div class="radio-inline">
        <input type="radio" id="compound" [(ngModel)]="model.compound">
        <label for="compound">
          Compound
        </label>
        <clr-signpost>
            <clr-signpost-content [clrPosition]="signPostPosition" *clrIfOpen>
                <h3>Compound</h3>
                <p></p>
            </clr-signpost-content>
        </clr-signpost>
    </div>
    </div>
    <div class="col-md-3">
      <input class="form-control" type="number" name="value" size="45" placeholder="Value(%)" [(ngModel)]="model.value" required>
    </div>
  </div>

  <button class="btn btn-sm btn-primary" type="button" [disabled]="componentForm.invalid" (click)="save()">Add</button>
</form>