<div class="card">
  <div class="card-header">
      Invoices
  </div>
  <div class="card-block clearfix">
    <div class="spinner-container" *ngIf="loading">
        <span class="spinner">
            Loading...
        </span>
    </div>
    <fusioncharts #chartel *ngIf="!loading" [type]="'doughnut2d'" 
    [dataFormat]="'json'" [dataSource]="chartConfig"></fusioncharts>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm" [ngClass]="{'btn-primary': isActiveInterval('week')}" (click)="interval$.next('week')">7 Days</button>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': isActiveInterval('month')}" (click)="interval$.next('month')">30 Days</button>
  </div>
</div>