<section>
  <div class="row flex-items-lg-between page-header">
    <div class="col-lg-4">
        <a routerLink="/contacts/customer"><clr-icon shape="caret" dir="left"></clr-icon> Contacts</a>        
        <h2 *ngIf="editing">Edit</h2>
        <h2 *ngIf="!editing">Add Contact</h2>
    </div>
    <div class="col-lg-4"></div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        
        <form novalidate #contactForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">    
          <div class="card-header">
              <button class="btn btn-outline">Cancel</button>
              <button class="btn btn-primary" [clrLoading]="processing" [disabled]="contactForm.invalid || processing || loading">Save</button>                        
          </div>

          <div class="card-block">
            <div class="progress progress-fade top loop" *ngIf="loading || processing"><progress></progress></div>              
            <div class="card-title">Contact Information</div>

            <div class="card-text">
              <section class="form-block">
                  <div class="form-group">
                      <label class="required" for="">Contact Type</label>
                      <div class="select">
                        <select name="type" id="type" #typeInput="ngModel" [(ngModel)]="model.type" required>
                          <option>Select type</option>
                          <option *ngFor="let type of types" [value]="type.value">{{ type.label }}</option>
                        </select>
                        <div class="input__errors" [hidden]="typeInput.valid || typeInput.pristine">
                            <span class="input__errors_error" *ngIf="typeInput.hasError('required')">Select a contact type</span>
                        </div>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="required" for="">Contact Name</label>
                    <input type="text" name="name" placeholder="Company / Business name" size="60" #nameInput="ngModel" [(ngModel)]="model.name" required>
                    <div class="input__errors" [hidden]="nameInput.valid || nameInput.pristine">
                        <span class="input__errors_error" *ngIf="nameInput.hasError('required')">Please enter name for your contact</span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" placeholder="Email address" size="60" #emailInput="ngModel" [(ngModel)]="model.email">
                    <div class="input__errors" [hidden]="emailInput.valid || emailInput.pristine">
                        <span class="input__errors_error" *ngIf="emailInput.hasError('email')">Please enter a valid email address</span>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="">Phone</label>
                      <input type="tel" name="phone" placeholder="Phone number" size="60" [(ngModel)]="model.phone" numeric phone>
                    </div>

                  <div class="form-group">
                    <label for="">Website</label>
                    <input type="url" name="website" placeholder="http://" size="60" [(ngModel)]="model.website">
                  </div>

                  <div class="form-group">
                    <label for="">Address line 1</label>
                    <input type="text" name="address_line_1" placeholder="Street Address" size="60" [(ngModel)]="model.address_line_1">
                  </div>

                  <div class="form-group">
                    <label for="">Address line 2</label>
                    <input type="text" name="address_line_2" placeholder="Address" size="60" [(ngModel)]="model.address_line_2">
                  </div>

                  <div class="form-group">
                    <label for="">City/Town</label>
                    <input type="text" name="city_town" placeholder="City or Town" size="45" [(ngModel)]="model.city_town">
                  </div>

                  <div class="form-group">
                    <label for="">Postal/Zip</label>
                    <input type="text" name="postal_zip" placeholder="Postal code or Zip code" size="45" [(ngModel)]="model.postal_zip">
                  </div>

                  <div class="form-group">
                    <label for="">State/Region</label>
                    <input type="text" name="state_region" placeholder="State or Region " size="45" [(ngModel)]="model.state_region">
                  </div>

                  <div class="form-group">
                    <label for="">Country</label>
                    <app-country-select name="country" [(ngModel)]="model.country"></app-country-select>
                  </div>
              </section>
            </div>

            <div class="card-title">Banking Information</div>

            <div class="card-text">
              <section class="form-block">
                  <div class="form-group">
                    <label for="">Bank</label>
                    <app-bank-select name="bank_id" [(ngModel)]="model.bank_id"></app-bank-select>
                  </div>

                <div class="form-group">
                  <label for="">Account Name</label>
                  <input type="text" name="bank_account_name" placeholder="Bank Account Name" size="60" [(ngModel)]="model.bank_account_name">
                </div>
                
                <div class="form-group">
                  <label for="">Account Number</label>
                  <input type="text" name="bank_account_no" placeholder="Bank Account No" size="60" #accountNoInput="ngModel" numeric [(ngModel)]="model.bank_account_no">
                </div>
              </section>
            </div>
          </div>

          <div class="card-footer">
              <div class="progress progress-fade loop" *ngIf="processing"><progress></progress></div>                            
              <button class="btn btn-primary" [clrLoading]="processing" [disabled]="contactForm.invalid || processing || loading">Save</button>                        
          </div>

        </form>
      </div>
    </div>
  </div>
</section>