<p *ngIf="selected" class="text" (click)="showSelector()">{{ row.item.code }}: {{ row.item.name }}</p>
<p *ngIf="!selected" class="text" (click)="showSelector()">Select an item</p>

<div class="item-selector-wrapper" [hidden]="hideItemSelector">
    <button class="btn btn-block btn-sm btn-link" (click)="hideSelector()">Close</button>
        
    <div class="loading" *ngIf="fetching">
        <span class="spinner">Loading...</span>
    </div>
    
    <ul class="list-unstyled item-list">
        <li class="item" *ngFor="let item of items" [ngClass]="{'selected': isSelected(item.id) }" (click)="selectItem(item)">
            {{ item.code }}: {{ item.name }}
        </li>
    </ul>
</div>