<section>
  <h2>General Settings</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Organization</h3>
      <hr>
      <div class="setting-item">
        <a routerLink="/settings/org">Organization Profile</a>
        <span>Edit your organization's profile details.</span>
      </div>

      <div class="setting-item">
        <a routerLink="/settings/users">Users</a>
        <span>Manage who has access to your organization.</span>
      </div>

      <div class="setting-item">
        <a routerLink="/settings/banking">Banking</a>
        <span>Add, edit and delete your organization's bank accounts.</span>
      </div>

      <div class="setting-item">
        <a routerLink="/settings/taxes">Tax Rates</a>
        <span>Add, edit and delete the tax rates you organization users.</span>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Reports</h3>
      <hr>
      <div class="setting-item">
        <a routerLink="/settings/accounts">Chart Of Accounts</a>
        <span>Add, edit, archive, delete your organization's accounts.</span>
      </div>

      <h3>Features</h3>
      <hr>
      <div class="setting-item">
        <a routerLink="/settings/invoices">Invoices</a>
        <span>Adjust your invoice settings</span>
      </div>
    </div>
  </div>
</section>